<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" src="jquery.js"></script>
    <script type="text/javascript" src="swfobject.js"></script> 
    <script type="text/javascript" src="jquery.uploadify.v2.1.0.js"></script> 

    <script type="text/javascript">
        $script
    </script>
</head>
<body>
    <form action="{action}" method="post" enctype="multipart/form-data">
        <br/>
        <!-- file must be last field -->
        File: <input id="fileInput1" type="file" name="fileInput1"/>
            <a href="javascript:$('#fileInput1').uploadifyUpload();">
                Upload File
            </a>
         <br/>
    </form>
</body>
</html>

