<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    Successfully uploaded Key "$key" <br/> to Bucket "$bucket" <br/> (etag = $etag)!
</body>
</html>

